@(
  baseInfo:     ViewBaseInfo,
  message:      String,
  personSeq:    Seq[Person],
  form:         Form[PersonFind],
  searchResult: Seq[Person] = Seq.empty
)(implicit request: MessagesRequestHeader)


@main(baseInfo) {
  @if(request.flash.get("success").nonEmpty){
    <p class="flash-success">@request.flash.get("success")</p>
  }
  <p>@Html(message)</p>
  <ul>
    @for(person <- personSeq) {
      <li>
        @person.id, @person.name, [@person.mail, @person.tel]
        <button><a href="@routes.HomeController.show(person.id)">Show</a></button>
        <button><a href="@routes.HomeController.edit(person.id)">Edit</a></button>
        @helper.form(action = routes.HomeController.delete(person.id)) {
          @helper.CSRF.formField
          <button>Delete</button>
        }
      </li>
    }
  </ul>

  <button><a href="/add">Add new person</a></button>

  <hr>

  <h2>Search People by name or mail</h2>
  @helper.form(action = routes.HomeController.search()) {
    @helper.CSRF.formField
    @helper.inputText(form("query"))
    <button>Search</button>
  }

  <p>Search Result</p>
  <ul>
    @for(person <- searchResult){
      <li>@person.id: @person.name [@person.mail]</li>
    }
  </ul>
}
