@(
  baseInfo: ViewBaseInfo,
  message:      String,
  data:         Seq[Person],
  form:         Form[PersonFind],
  searchResult: Seq[Person] = Seq.empty
)(implicit request: MessagesRequestHeader)


@main(baseInfo) {
  <p>@Html(message)</p>
  <ul>
    @for(item <- data) {
      <li>
        @item.id, @item.name, [@item.mail, @item.tel]
        <button><a href="/show/@item.id">Show</a></button>
      </li>
    }
  </ul>

  <button><a href="/add">Add new person</a></button>

  <hr>

  <h2>Search People by name or mail</h2>
  @helper.form(action = routes.HomeController.search()) {
    @helper.CSRF.formField
    @helper.inputText(form("query"))
    <button>Search</button>
  }

  <p>Search Result</p>
  <ul>
    @for(person <- searchResult){
      <li>@person.id: @person.name [@person.mail]</li>
    }
  </ul>
}
