@(
  message: String,
  data: Seq[Person],
  form: Form[PersonFind],
  searchResult: Seq[Person] = Seq.empty
)(implicit request: MessagesRequestHeader)


@main("Index Page", "Hello", "copyright 2018.") {
  <p>@Html(message)</p>
  <ul>
    @for(item <- data) {
      <li>@item.id, @item.name, [@item.mail, @item.tel]</li>
    }
  </ul>

  <p>Search People by name or mail</p>
  @helper.form(action = routes.HomeController.search()) {
    @helper.CSRF.formField
    @helper.inputText(form("query"))
    <button>Search</button>
  }
  <hr>
  <p>Result:</p>
  <ul>
    @for(person <- searchResult){
      <li>@person.id: @person.name [@person.mail]</li>
    }
  </ul>
}
